extends layout

block content
  h1 Please login to access the management system
  p.lead Use below user and password
  hr
  p
    span username:
    strong ngocthua92@live.com
  p
    span password:
    strong 123!@#!@